<form role="form" class="col-lg-offset-2 col-lg-8" style="direction:rtl">
  <div class="form-group">
    <label for="username">שם משתמש</label>
    <input type="email" class="form-control input-lg" id="username" placeholder="שם משתמש">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">דואר אלקטרוני</label>
    <input type="email" class="form-control input-lg" id="exampleInputEmail1" placeholder="דואר אלקטרוני">
  </div>
  <div class="form-group">
    <label for="password">סיסמא</label>
    <input type="password" class="form-control input-lg" id="password" placeholder="סיסמא">
  </div>
  <div class="form-group">
    <label for="confirm">אימות סיסמא</label>
    <input type="password" class="form-control input-lg" id="confirm" placeholder="אימות סיסמא">
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-lg btn-primary btn-block">הירשם</button>
  </div>
</form>