<div style="direction:rtl; text-align:center" >
	<h1>סיכום</h1>
	<h3>מספר תרגילים : {{summary.exercises}}</h3>
	<h3>תרגילים שצדקת : {{(summary.exercises - summary.list.length)}} ({{(summary.exercises - summary.list.length)/(summary.exercises)*100}}%)</h3>
	<h3>תרגילים שטעית : {{summary.list.length}}</h3>
	<!--<h3>מילים שאתה זוכר : 1</h3>-->

	<ul class="list-group">
		<li ng-repeat="list in summary.list" class="list-group-item">
			המילה : <strong>{{list.question}}</strong><br>
			התשובה :<strong>{{list.answer}}</strong>
		</li>
	</ul>
</div>