<div style="direction:rtl" class="col-lg-offset-2 col-lg-8">
	    <!--Start Contact form -->		                                                
    <form>
    	<div class="form-group">
    		<label for="name">שם</label>
    		<input type="email" class="form-control input-lg" id="name" placeholder="שם">
  		</div>
    	<div class="form-group">
    		<label for="exampleInputEmail1">דואר אלקטרוני</label>
    		<input type="email" class="form-control input-lg" id="exampleInputEmail1" placeholder="דואר אלקטרוני">
  		</div>
  		<div class="form-group">
    		<label for="subject">נושא</label>
    		<input type="email" class="form-control input-lg" id="subject" placeholder="נושא">
  		</div>
  		<div class="form-group">
    		<label for="content">תוכן</label>
    		<textarea type="email" class="form-control input-lg" id="content" placeholder="תוכן"></textarea>
  		</div>
  		<div class="form-group">
    		<button type="submit" class="btn btn-lg btn-primary btn-block">שלח</button>
  		</div>
    </form>  				 
    <!--End Contact form -->	
</div>