<form role="form" class="col-lg-offset-2 col-lg-8" style="direction:rtl">
  <div class="form-group">
    <label for="exampleInputEmail1">דואר אלקטרוני</label>
    <input type="email" class="form-control input-lg" id="exampleInputEmail1" placeholder="דואר אלקטרוני">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">סיסמא</label>
    <input type="password" class="form-control input-lg" id="exampleInputPassword1" placeholder="סיסמא">
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-lg btn-primary btn-block">התחבר</button>
    <span><a href="#registration">משתמש חדש ?</a></span>
  </div>
</form>